<h1> <%= @article.title  %></h1>

<p> <%= @article.content  %></p>

<%= link_to "Edit",  article_path(@article) %>

<%= link_to "Delete",  articles_path %>


<%= link_to "Go back home",  articles_path %>
